.containerProfile {
    background: rgb(3, 110, 31);
    height: 100%;
    color: white;
    /* padding-bottom:100px; */
}

.about {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    /* display: flex; */
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 70px;


}

.about .firstBlock {
    display: flex;
    flex-direction: row;
    /* gap:10px; */
    justify-content: space-around;
}

.about .firstBlock div:nth-child(1) {
    width: 40%;
}

.about .firstBlock div:nth-child(2) {
    width: 60%
}

.about .firstBlock .fio {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    padding-left: 10%;
    /* padding-top: 4%; */
    gap: 10px;
}

.about .firstBlock .fio span:nth-child(1) {
    font-size: 170%;

}

.firstBlock img {
    border-radius: 50%;
    width: 85px;
    height: 80px;
}

.secondBlock {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    margin-top: 20px;
    padding-top: 20px;
    /* padding-left: 10px; */
}
.secondBlock div:first-child{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.secondBlock div:first-child span {
    line-height: 30px;
}

.moreInfo {
    height: 800px;
    background-color: white;
    margin-top: -20px;
    border-radius: 20px 20px 0 0;
    color: black;
    margin: 0 auto;

}

.moreInfo .percents{
    padding: 50px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.moreInfo .percents svg{
    max-width:400px;
}
.secondBlock button{
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: rgb(3, 110, 31);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap:10px;
    transition:1s;
}
.secondBlock button span:first-child{
    font-size: 150%;
}

.secondBlock button:hover{
    transform: scale(1.05);
}