.card{
    // background-color: aqua;
    margin: 3% 10% 0 10%;
    padding: 3%;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:10px;

}