.header{
    padding-left: 10px;
    color: white;
    background-color: #6978FF;
    min-height: 70px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;

}